<!-- Toolbar -->
<div class="side-menu">
  <ul>
    <li>
      <a href="#">
        <div class="logo">
          <img src="../assets/logo-inpowered.png" alt="Logo InPowered">
        </div>
      </a>
    </li>
  </ul>
  
</div>
<div class="content-area">
  <header class="main-header">
    <div class="message">
      <h2>Welcome back, John!</h2>
    </div>
    <div class="actions">
  
    </div>
  </header>
  
  <div class="content" role="main">
    <div class="action-bar">
      <button pButton type="button" class="p-button-raised p-button-rounded p-button-success" icon="pi pi-plus"
        label="Add Task"></button>
      <p-dropdown [options]="optionsList" [(ngModel)]="selectedOption" placeholder="Filter by" optionLabel="status"
        [showClear]="true"></p-dropdown>
    </div>
    
    <div class="task-list">
      <div class="column">
        <div class="task-card">
          <h4>Task title</h4>
          <p><span>Desc: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</span></p>
        </div>
      </div>
    </div>
  </div>
</div>