<div class="side-menu">
    <ul>
        <!-- Logo -->
        <li class="logo-container">
            <a href="#">
                <div class="logo">
                    <img src="../assets/logo-inpowered.png" alt="Logo InPowered" />
                </div>
            </a>
        </li>

        <!-- Menu Icons -->
        <li class="menu-item">
            <a href="#">
                <i class="pi pi-chart-bar"></i>
            </a>
        </li>
        <li class="menu-item">
            <a href="#">
                <i class="pi pi-list"></i>
            </a>
        </li>
        <li class="menu-item">
            <a href="#">
                <i class="pi pi-calendar"></i>
            </a>
        </li>
        <li class="menu-item">
            <a href="#">
                <i class="pi pi-cog"></i>
            </a>
        </li>
    </ul>
</div>