<!-- Toolbar -->
<app-side-menu></app-side-menu>

<!-- Main content -->
<div class="content-area">
    <app-user-header></app-user-header>

    <div class="content" role="main">
        <div class="action-bar">
            <button pButton type="button" class="p-button-raised p-button-rounded p-button-success" icon="pi pi-plus"
                label="Add Task" (click)="addTaskDialogVisible = true"></button>
            <p-dropdown [options]="filterOptions" [(ngModel)]="selectedOption" placeholder="Filter by" [showClear]="true"
                (onChange)="onFilterChange()">
            </p-dropdown>
        </div>

        <!-- Dialog to add a task -->
        <app-task-dialog [(visible)]="addTaskDialogVisible" [(title)]="newTaskTitle" [(description)]="newTaskDescription"
            (taskAdd)="addTask($event)"></app-task-dialog>

        <div class="columns-area">
            <!-- Incomplete Tasks Column -->
            <div class="column incomplete" *ngIf="selectedOption === 'all' || selectedOption === 'incomplete'">
                <div class="column-header">
                    <i class="pi pi-clock"></i>
                    <span>Incomplete Tasks</span>
                </div>
        
                <div class="task-list">
                    <ng-container *ngIf="incompleteTasks.length > 0; else noIncomplete">
                        <app-task-card *ngFor="let task of incompleteTasks" [task]="task" (toggle)="onToggle($event)"
                            (delete)="onDelete($event)">
                        </app-task-card>
                    </ng-container>
                    <ng-template #noIncomplete>
                        <div class="empty-state">
                            <i class="pi pi-info-circle"></i> No incomplete tasks
                        </div>
                    </ng-template>
                </div>
            </div>
        
            <!-- Completed Tasks Column -->
            <div class="column complete" *ngIf="selectedOption === 'all' || selectedOption === 'completed'">
                <div class="column-header">
                    <i class="pi pi-check-circle"></i>
                    <span>Completed Tasks</span>
                </div>
        
                <div class="task-list">
                    <ng-container *ngIf="completedTasks.length > 0; else noCompleted">
                        <app-task-card *ngFor="let task of completedTasks" [task]="task" (toggle)="onToggle($event)"
                            (delete)="onDelete($event)">
                        </app-task-card>
                    </ng-container>
                    <ng-template #noCompleted>
                        <div class="empty-state">
                            <i class="pi pi-info-circle"></i> No completed tasks
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>