<!-- Toolbar -->
<div class="side-menu">
    <ul>
        <li>
            <a href="#">
                <div class="logo">
                    <img src="../assets/logo-inpowered.png" alt="Logo InPowered">
                </div>
            </a>
        </li>
    </ul>

</div>
<div class="content-area">
    <header class="main-header">
        <div class="message">
            <h2>Welcome back, John!</h2>
        </div>
        <div class="actions">

        </div>
    </header>

    <div class="content" role="main">
        <div class="action-bar">
            <button pButton type="button" class="p-button-raised p-button-rounded p-button-success" icon="pi pi-plus"
                label="Add Task"></button>
            <p-dropdown [options]="filterOptions" [(ngModel)]="selectedOption" placeholder="Filter by"
                [showClear]="true"></p-dropdown>
        </div>

        <div class="columns-area">
            <!-- Incomplete column -->
            <div class="column incomplete">
                <p>Incomplete</p>
                <div class="task-list">
                    <app-task-card *ngFor="let task of filteredIncompleteTasks" [task]="task"
                        (toggle)="onToggle($event)" (delete)="onDelete($event)"></app-task-card>
                </div>
            </div>

            <!-- Completed column -->
            <div class="column complete">
                <p>Completed</p>
                <div class="task-list">
                    <app-task-card *ngFor="let task of filteredCompletedTasks" [task]="task" (toggle)="onToggle($event)"
                        (delete)="onDelete($event)"></app-task-card>
                </div>
            </div>
        </div>
    </div>
</div>