@import "../../../assets/variables";

.content-area {
    display: inline-block;
    width: calc(100% - 70px);
    margin-left: 70px;
}

.action-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    margin-bottom: 50px;

    button {
        box-shadow: none;
    }
}

.columns-area {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem;
}

.column-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.25rem;
    color: $dark-blue;
    margin-bottom: 1rem;
}

.column-header i {
    font-size: 1.2rem;
    color: $light-gray;
}

.column.incomplete {
    width: 48%;
}

.column.incomplete .column-header i {
    color: #ff6f61;
}

.column.complete {
    width: 48%;
}

.column.complete .column-header i {
    color: #4caf50;
}

.empty-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    color: $light-gray;
    font-size: 1.25rem;
}

.empty-column i {
    font-size: 3rem;
}

.task-list {
    border: 2px dashed $light-gray;
    border-radius: 10px;
    height: 60vh;
    padding: 1rem;
    max-height: 70vh;
    overflow-y: scroll;
}